@tailwind base;
@tailwind components;
@tailwind utilities;







.p-fnt {
    color: rgba(255, 255, 255, 0.60);

    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    
}

.p-fnt-mbl {
    color: rgba(255, 255, 255, 0.60);

    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.font-manrop{
    font-family: 'Manrope', sans-serif;

}


.h-fnt {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.h-fnt-mbl {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*     
.h-fnt {
    @apply text-center text-2xl font-extrabold lg:text-3xl
}

.p-fnt {
    @apply text-center text-base font-medium pl-5 pr-5
} */